@import "~src/variables"

.opinion
  width: 100%
  text-align: center

.opinion-title
  font-family: "Druk Text Wide", sans-serif
  font-size: 36px
  line-height: 46px
  color: black
  font-weight: bold
  @include media(md)
    font-size: 30px
    line-height: 38px
  @include media(xs-sm)
    font-size: 20px
    line-height: 25px

.opinion-message
  width: 85%
  margin: auto
  color: $gray-1
  font-family: "Open Sans", sans-serif
  font-size: 18px
  line-height: 23px

.carousel-controls
  font-family: Syne, sans-serif
  font-size: 20px
  font-weight: bold
  color: #666666
  margin-top: 61px
  @include media(md)
    margin-top: 92px
  @include media(xs-sm)
    margin-top: 31px
  & i
    color: $black
    margin: 0 10px
    cursor: pointer
    &:hover
      color: $yellow
