<div class="opinion">
    <ngb-carousel #opinionsCarousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [interval]="6000"  [animation]="false" (slid)="changeCurrentIndex($event)">
        <ng-template ngbSlide *ngFor="let opinion of opinions; index as i">
            <p class="opinion-title">"{{opinion.title}}"</p>
            <p class="opinion-message">{{opinion.message}}</p>
        </ng-template>
    </ngb-carousel>

    <p class="carousel-controls">
        <i class="bi bi-chevron-left" (click)="carousel?.prev()"></i>
        {{currentIndex + 1}} / {{opinions.length}}
        <i class="bi bi-chevron-right" (click)="carousel?.next()"></i>
    </p>
</div>
