@import '~src/variables'

.navbar
  // Navbar position and layout
  position: absolute
  z-index: 1000
  width: calc(100% - 57px)
  top: 57px
  left: 101px
  align-items: baseline
  @include media(sm-md)
    width: calc(100% - 40px)
    top: 30px
    left: 40px
  @include media(xs)
    width: calc(100% - 16px)
    top: 47px
    left: 16px

  &.collapsed
    background-color: $white

  & a
    color: $white

  //  Theme: dark or normal.
  &.dark a, & button
    color: $black

  &.menu-dark
    @include media(xs-sm-md)
      background: black
      border-radius: 0 0 30px 30px
      a, i
        color: $white
      .navbar-brand
        color: $yellow


  // Add margin-right to collapsable button in md
  & button
    color: $black
    &:focus
      outline: none
    & i::before
      font-size: 26px
      vertical-align: bottom
    @include media(md)
      margin-right: 30px

  //  Brand link style
  & .navbar-brand
    font-family: 'Druk Text Wide', serif
    font-style: normal
    font-weight: bold
    font-size: 27px
    line-height: 27px
    margin-right: 86px

  //  Navbar items style
  & .nav-link
    font-family: Syne, serif
    font-style: normal
    font-size: 18px
    line-height: 22px
    margin-right: 23px
    padding: 0 8px
    width: max-content

    @include media(xs-sm-md)
      font-size: 25px
      line-height: 30px
      height: 30px
      margin-top: 50px

    // Navbar items hover
    &:after
      display: block
      position: relative
      bottom: 8px
      left: -8px
      height: 6px
      width: calc(100% + 16px)
      background-color: $yellow-2
      content: ""
      transform: scale(0)
    &:hover::after
      transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1)
      transform: scale(1)
      @include media(xs-sm-md)
        bottom: 12px
