<nav class="navbar navbar-expand-lg"
     [class.dark]="linksDark"
     [class.menu-dark]="!isNavbarCollapsed && menuDark"
     [class.collapsed]="!isNavbarCollapsed"
>

    <a class="navbar-brand" routerLink="/">Foodies</a>

    <!--  Toggler  -->
    <button class="navbar-toggler float-right"
            type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
    >
        <i class="bi" [class.bi-list]="isNavbarCollapsed" [class.bi-x]="!isNavbarCollapsed"></i>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" (click)="isNavbarCollapsed = true">
            <li class="nav-item">
                <a class="nav-link" routerLink="" fragment="about">Acerca de</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/" fragment="locations">Restaurantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/menu">Menú</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/" fragment="contact">Contáctanos</a>
            </li>
        </ul>
    </div>


</nav>
