<app-header [linksDark]="false" [menuDark]="true"></app-header>

<div class="menu-header">
    <div class="menu-header-bg-text"></div>
    <p class="menu-header-text">Cada sabor es una nueva <span>experiencia</span></p>
    <img class="menu-header-img" src="assets/img/hero-hamburger.png" alt="Hamburger">
</div>

<!-- Search and filters-->
<nav class="navbar navbar-expand-md search-div">
    <div class="search-box input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
        <input type="text" placeholder="Buscar tu platillo favorito..." [(ngModel)]="query" (ngModelChange)="queryItems()">
    </div>

    <!--  Toggler  -->
    <button class="navbar-toggler float-right" *ngIf="!loadingCategories"
            type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            data-toggle="collapse"
            data-target="#navbarMenu"
    >
        <i class="bi" [class.bi-sliders]="isNavbarCollapsed" [class.bi-x]="!isNavbarCollapsed"></i>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarMenu" *ngIf="!loadingCategories">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="btn btn-link" [class.selected]="selectedCategory === 0" (click)="changeCategory(0)">
                    Todas
                </button>
            </li>
            <li class="nav-item" *ngFor="let category of categories">
                <button class="btn btn-link" [class.selected]="selectedCategory === category.id" (click)="changeCategory(category.id)">
                    {{category.name}}
                </button>
            </li>
        </ul>
    </div>
</nav>

<div class="menu">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" *ngIf="loadingItems"></div>
        <div class="d-flex flex-column" *ngIf="!loadingItems && !items.length">
            <img class="menu-not-found-img" src="assets/img/menu-not-found.png" alt="Not found"><br>
            <p class="menu-not-found-title text-center">¡Platillo no encontrado!</p>
            <p class="menu-not-found-message text-center">Te invitamos a que verifiques si el nombre esta bien escrito o prueba buscando un nuevo platillo.</p>
        </div>
    </div>

    <div class="d-flex justify-content-center menu-items" *ngIf="!loadingItems">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10 col-12 mb-4" *ngFor="let item of items">
            <app-menu-item [item]="item"></app-menu-item>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <ngb-pagination *ngIf="!loadingItems && items.length"
                        [disabled]="loadingItems"
                        [page]="pageIndex" [pageSize]="pageSize"
                        [collectionSize]="totalItems"
                        (pageChange)="loadItems($event)"
        >
            <ng-template ngbPaginationPrevious>Anterior</ng-template>
            <ng-template ngbPaginationNext>Siguiente</ng-template>
        </ngb-pagination>
    </div>
</div>

<app-footer [hideDividerOnLarge]="true"></app-footer>
