@import '~src/variables'

\:host body
  background-color: #F8F8F8

// Menu header
.menu-header
  width: 100%
  height: 610px
  background-color: $black
  background-image: url("~src/assets/img/menu-header-lg.png")
  background-position: right
  background-size: auto
  background-repeat: no-repeat
  @include media(md)
    background-image: url("~src/assets/img/menu-header-md.png")
    height: 503px
  @include media(xs-sm)
    background-image: url("~src/assets/img/menu-header-sm.png")
    background-position: right top
    height: 642px

  & .menu-header-text
    position: absolute
    height: 180px
    width: 560px
    left: 102px
    top: 267px
    font-family: 'Druk Text Wide', sans-serif
    font-weight: bold
    font-size: 60px
    line-height: 60px
    color: $white
    @include media(md)
      font-size: 40px
      line-height: 40px
      width: 360px
      top: 184px
      left: 63px
    @include media(xs-sm)
      width: 343px
      font-size: 35px
      line-height: 35px
      top: 431px
      left: calc(50% - 171px)

    & span
      color: $black

  & .menu-header-bg-text
    position: absolute
    width: 510px
    height: 58px
    top: 397px
    left: 95px
    background: $yellow
    transform: rotate(-0.64deg)
    @include media(md)
      width: 364px
      height: 53px
      top: 261px
      left: 50px
    @include media(xs-sm)
      width: 300px
      height: 51px
      top: 494px
      left: calc(50% - 180px)


  & .menu-header-img
    position: absolute
    width: 627px
    height: 494px
    top: 120px
    right: 63px
    @include media(md)
      width: 340px
      height: 268px
      top: 122px
      right: 27px
    @include media(xs-sm)
      width: 328px
      height: 258px
      top: 121px
      left: calc(50% - 164px)

// Search and filters
.search-div
  display: flex
  flex-wrap: wrap
  margin-top: 80px
  margin-bottom: 96px
  margin-left: 60px
  @include media(md)
    margin-top: 30px
    margin-bottom: 90px
    margin-left: 40px
    padding: 0
    flex-direction: column
    align-items: center
  @include media(xs-sm)
    margin-top: 25px
    margin-bottom: 40px
    margin-left: 16px

  & .search-box
    width: 480px
    height: 50px
    border: 1px solid #C4C4C4
    box-sizing: border-box
    border-radius: 8px
    @include media(lg)
      margin-right: 43px
    @include media(md)
      width: max-content
    @include media(xs-sm)
      width: 295px

    & .input-group-text
      background-color: transparent
      border: none

      & i
        margin-bottom: 3px

    & input
      background-color: transparent
      border: none
      border-radius: 0 8px 8px 0
      width: calc(100% - 42px)
      @include media(md)
        width: 425px

      &::placeholder
        font-family: 'Open Sans', sans-serif
        font-size: 16px
        color: $gray-1

  & .navbar-collapse
    @include media(md)
      width: 100%

  & .nav-item button
    margin-right: 40px
    font-family: Syne, sans-serif
    font-size: 18px
    color: $black
    line-height: 21.6px
    height: 22px
    padding: 0
    transition: none
    @include media(md)
      margin-right: 35px
    @include media(xs-sm)
      margin-bottom: 35px
      font-size: 25px
      line-height: 30px
      height: 25px

    // Override hover
    &:hover, &:focus
      border: none
      text-decoration: none
      outline: none
      box-shadow: none
    // Link items hover
    &::after
      display: block
      position: relative
      bottom: 15px
      left: -5px
      width: calc(100% + 10px)
      height: 6px
      background-color: $yellow
      content: ""
      z-index: -1
      transform: scale(0)
    &:hover::after, &.selected::after
      transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1)
      transform: scale(1)
      @include media(xs-sm-md)
        bottom: 10px

// Menu items
.menu
  position: relative
  width: calc(100% - 118px)
  left: 59px
  min-height: 300px
  margin-bottom: 65px
  @include media(md)
    width: calc(100% - 88px)
    left: 44px
    min-height: 200px
  @include media(xs-sm)
    width: calc(100% - 46px)
    left: 23px
    min-height: 200px

  & .spinner-border
    color: $yellow

  & .menu-not-found-img
    width: 168px
    height: 187px
    align-self: center

  & .menu-not-found-title
    font-family: Syne, sans-serif
    font-size: 20px
    line-height: 24px

  & .menu-not-found-message
    font-family: "Open Sans", sans-serif
    font-size: 18px
    line-height: 25px
    max-width: 500px
    @include media(xs-sm-md)
      max-width: 260px

  & .menu-items
    width: 100%
    flex-wrap: wrap
