<div class="card">
    <img [src]="item?.image" class="card-img-top" [alt]="item?.name">
    <div class="card-body">
        <h5 class="card-title">{{item?.name}}</h5>
        <p class="card-text">{{item?.description}}</p>

        <div class="d-flex justify-content-between">
            <span class="category">{{item?.category}}</span>
            <span class="price">{{item?.price | currency}}</span>
        </div>
    </div>
</div>
