@import '~src/variables'

.card
  width: 100%
  height: 100%
  border: none
  &:hover
    background-color: $white
    box-shadow: 0 12px 17px rgba(56, 81, 114, 0.14)

  & img
    border-radius: 10px

  & .card-title
    font-family: Syne, sans-serif
    font-size: 22px
    line-height: 26px
    @include media(md)
      width: 66%

  & .card-text
    width: 85%
    font-family: "Open Sans", sans-serif
    font-size: 18px
    line-height: 25px
    margin-bottom: 40px
    @include media(xs-sm-md)
      font-size: 14px
      line-height: 19px

  & .category
    color: #78909C
    font-family: "Open Sans", sans-serif
    font-size: 18px
    @include media(xs-sm-md)
      font-size: 16px

  & .price
    padding: 6px 10px
    background-color: $yellow
    border-radius: 8px
    font-family: "Druk Text Wide", sans-serif
    font-size: 16px
    @include media(xs-sm-md)
      font-size: 14px
