@import '~src/variables'

// Links
.landing-link
  font-family: Syne, sans-serif
  font-size: 22px
  line-height: 26px
  color: $black

  & i
    margin-left: 10px

// About us
.about-us-div
  width: 100%
  height: 874px
  background-image: url("~src/assets/img/about-us-bg-lg.png")
  background-position: right top
  background-size: auto
  background-repeat: no-repeat
  @include media(md)
    background-image: url("~src/assets/img/about-us-bg-md.png")
    height: 669px
  @include media(xs-sm)
    background-image: url("~src/assets/img/about-us-bg-sm.png")
    height: 745px

  & .about-us-texts
    position: absolute
    width: 579px
    top: 267px
    left: 102px
    @include media(md)
      width: 335px
      top: 184px
      left: 53px
    @include media(xs-sm)
      width: 343px
      top: 431px
      left: calc(50% - 171px)

    & .about-us-title
      width: 100%
      margin-bottom: 21px
      font-family: "Druk Text Wide", sans-serif
      font-weight: bold
      font-size: 60px
      line-height: 60px
      @include media(md)
        font-size: 40px
        line-height: 40px
        margin-bottom: 20px
      @include media(xs-sm)
        font-size: 35px
        line-height: 35px
        margin-bottom: 32px

    & .about-us-message
      width: 498px
      margin-bottom: 46px
      font-family: "Open Sans", sans-serif
      color: $gray-1
      font-size: 18px
      line-height: 26px
      @include media(xs-sm-md)
        width: 90%
        font-size: 16px
        line-height: 22px
      @include media(xs-md)
        width: 310px
        margin-bottom: 32px

  & .about-us-bg
    position: absolute
    width: 405px
    height: 58px
    top: 400px
    left: 95px
    background: $yellow
    transform: rotate(-0.64deg)
    @include media(md)
      width: 332px
      height: 48px
      top: 262px
      left: 50px
    @include media(xs-sm)
      width: 250px
      height: 53px
      top: 494px
      left: calc(50% - 180px)


  & .about-us-img
    position: absolute
    width: 567px
    height: 446px
    top: 162px
    right: 94px
    @include media(md)
      width: 313px
      height: 246px
      top: 174px
      right: 30px
    @include media(xs-sm)
      width: 313px
      height: 246px
      top: 121px
      right: calc(50% - 156px)

// Who are we
.who-are-we-div
  display: flex
  flex-wrap: wrap
  width: 100%
  height: max-content
  margin-bottom: 80px
  @include media(md)
    margin-bottom: 60px
  @include media(xs-sm)
    margin-bottom: 27px

  & .who-are-we-img-div
    position: relative
    width: 816px
    height: 585px
    background-image: url("~src/assets/img/who-are-we.png")
    background-size: cover
    @include media(xs-sm-md)
      width: 100%
    @include media(xs-sm)
      background-image: url("~src/assets/img/who-are-we-sm.png")

    & .who-are-we-img-text
      font-family: "Druk Text Wide", sans-serif
      font-weight: bold
      text-align: right
      font-size: 50px
      line-height: 50px
      color: white
      position: absolute
      width: 600px
      bottom: 61px
      right: 40px
      @include media(md)
        width: 500px
        bottom: 40px
        right: 53px
        font-size: 40px
        line-height: 40px
      @include media(xs-sm)
        width: 350px
        bottom: 30px
        right: 16px
        font-size: 35px
        line-height: 35px

      & span
        color: $yellow
  & .who-are-we-texts
    width: calc(100% - 816px)
    padding: 40px 40px 80px
    align-self: center
    background-image: url("~src/assets/img/who-are-we-text-bg.png")
    background-size: cover
    @include media(xs-sm-md)
      width: 100%
    @include media(xs-sm)
      background-image: none
      padding: 40px

    & .who-are-we-title
      font-family: Syne, sans-serif
      font-size: 22px
      font-weight: bold
      line-height: 27px
      margin-bottom: 27px

    & .who-are-we-message
      font-family: "Open Sans", sans-serif
      font-size: 18px
      line-height: 25px
      margin-bottom: 34px
      color: $gray-1
      @include media(md)
        margin-bottom: 54px
      @include media(xs-sm)
        margin-bottom: 27px

// Opinions
.opinions-div
  position: relative
  width: 100%
  height: 614px
  @include media(md)
    height: 570px
  @include media(xs-sm)
    height: auto
    margin-bottom: 50px

  & .opinion-img
    position: absolute
    width: 400px
    right: 0
    top: 80px

  & .opinion-img-left
    position: absolute
    width: 195px
    height: 546px
    left: 0
    top: 10px
    @include media(md)
      width: 155px
      height: 436px

  & .opinion-img-right
    position: absolute
    width: 223px
    height: 546px
    right: 0
    bottom: -50px
    @include media(md)
      width: 134px
      height: 473px

  & .opinions
    width: 50%
    @include media(md)
      width: 75%
    @include media(xs-sm)
      width: 95%

// Contact Us
.contact-us-div
  width: 100%
  height: 610px
  background-color: $black
  color: $white
  @include media(xs-sm-md)
    height: 1100px

  & .contact-us-title
    font-family: "Druk Text Wide", sans-serif
    font-weight: bold
    font-size: 36px
    line-height: 36px
    text-align: center
    margin-bottom: 17px
    @include media(md)
      margin-top: 100px
    @include media(xs-sm)
      font-size: 35px
      line-height: 35px
      margin-bottom: 20px
      margin-top: 73px

    & .empty
      margin-top: 50px
      @include media(md)
        margin-top: 50px
      @include media(xs-sm)
        margin-top: 61px

  & .contact-us-message
    font-family: "Open Sans", sans-serif
    font-size: 24px
    line-height: 33px
    text-align: center
    width: 60%
    margin: 0 auto
    @include media(md)
      width: 80%
    @include media(xs-sm)
      width: 90%

  & .contact-us-submitted
    width: 158px
    height: 143px
    @include media(md)
      margin-top: 100px
    @include media(xs-sm)
      margin-top: 73px

  & form
    margin-top: 40px
    @include media(md)
      width: 80%
      margin: 20px auto 0
    @include media(xs-sm)
      margin-top: 40px


// Download App
.download-div
  position: relative
  width: 100%
  height: 1000px
  @include media(md)
    height: 1100px
  @include media(xs-sm)
    height: 1500px

  & .download-img
    position: absolute
    width: 1000px
    left: 0
    top: -150px
    @include media(md)
      width: 800px
      left: calc(50% - 300px)
      top: -320px
    @include media(xs-sm)
      width: 600px
      left: calc(50% - 220px)
      top: -300px
  & .download-title
    position: absolute
    font-family: "Druk Text Wide", sans-serif
    font-weight: bold
    font-size: 35px
    line-height: 35px
    width: 542px
    top: 100px
    right: 345px
    @include media(md)
      top: 400px
      right: calc(50% - 271px)
    @include media(xs-sm)
      top: 240px
      width: 343px
      text-align: center
      right: calc(50% - 171px)
      font-size: 30px
      line-height: 39px

  & .download-title-bg
    position: absolute
    width: 559px
    height: 54px
    top: 128px
    right: 337px
    background: $yellow
    transform: rotate(-0.64deg)
    @include media(md)
      width: 559px
      height: 54px
      top: 428px
      right: calc(50% - 271px)
    @include media(xs-sm)
      width: 343px
      height: 75px
      top: 320px
      right: calc(50% - 171px)

  & .download-steps
    width: 685px
    height: 510px
    position: absolute
    top: 280px
    right: 250px
    @include media(md)
      top: 520px
      right: calc(50% - 342px)
    @include media(xs-sm)
      width: 320px
      height: 938px
      top: 480px
      right: calc(50% - 160px)

    & .download-step
      position: absolute
      width: 320px
      height: 256px
      text-align: center

      &.download-step-first
        top: 0
        left: 0
      &.download-step-second
        top: 0
        right: 0
      &.download-step-third
        bottom: 0
        left: calc(50% - 160px)

      @include media(xs-sm)
        position: relative
        margin-bottom: 81px
      & .step-number
        margin-bottom: 19px
        & span
          background-color: $yellow
          padding: 5px 8px
          color: $white
          border-radius: 50px
          font-size: 26px
      & .step-title
        font-family: Roboto, sans-serif
        font-size: 22px
        line-height: 22px
        font-weight: bold
      & .step-message
        font-family: Roboto, sans-serif
        font-size: 18px
        line-height: 26px

    & .download-steps-img-left
      position: absolute
      width: 224px
      height: 240px
      top: 15px
      left: 85px

    & .download-steps-img-right
      position: absolute
      width: 240px
      height: 240px
      top: 15px
      right: 73px
