<app-header></app-header>

<div class="about-us-div">
    <div class="about-us-bg"></div>
    <div class="about-us-texts">
        <p class="about-us-title">Un nuevo sabor esta en la ciudad</p>
        <p class="about-us-message">Estamos a punto de descubrir un mundo lleno de sabores y de emociones inigualables.</p>
        <a class="landing-link" routerLink="/" fragment="locations">Encuentranos <i class="bi bi-arrow-right-short"></i></a>
    </div>

    <img class="about-us-img" src="assets/img/hero_hamburger-2.png" alt="About Us">
</div>

<h6 id="about"></h6>

<div class="who-are-we-div">
    <div class="who-are-we-img-div">
        <p class="who-are-we-img-text">LA COMIDA ES <span>NUESTRO ARTE</span></p>
    </div>
    <div class="who-are-we-texts">
        <p class="who-are-we-title">¿Quién es Foodies?</p>
        <p class="who-are-we-message">
            Elit irure ad nulla id elit laborum nostrud mollit irure. Velit reprehenderit sunt nulla enim aliquip duis tempor est culpa fugiat consequat culpa consectetur Lorem. Reprehenderit dolore culpa irure eiusmod minim occaecat et id minim ullamco.
        </p>
        <a class="landing-link" routerLink="/" fragment="contact">Contáctanos <i class="bi bi-arrow-right-short"></i></a>
    </div>
</div>

<h6 id="locations"></h6>
<app-locations></app-locations>

<h6 id="opinions"></h6>
<div class="opinions-div">
    <img class="opinion-img-right d-none d-md-block" src="assets/img/opinions-right.png" alt="Opinion">
    <img class="opinion-img-left d-none d-md-block" src="assets/img/opinions-left.png" alt="Opinion">
    <img class="opinion-img d-none d-lg-block" src="assets/img/opinions-img.png" alt="Opinion">

    <div class="d-flex justify-content-center h-100">
        <div class="align-self-center opinions">
            <app-opinions></app-opinions>
        </div>
    </div>
</div>

<h6 id="contact"></h6>
<div class="contact-us-div">
    <div class="d-flex justify-content-center h-100">
        <div class="align-self-lg-center align-self-start">
            <ng-container *ngIf="!submitted">
                <p class="contact-us-title">Cuentanos tu experiencia</p>
                <p class="contact-us-message">Don't miss out on our great offers & Receive deals from all our top restaurants via e-mail.</p>

                <form [formGroup]="contactForm">
                    <div class="d-flex flex-wrap">
                        <div class="col-lg-4 col-12">
                            <div class="form-group">
                                <label for="name">Nombre y apellidos</label>
                                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" formControlName="name">
                                <small *ngIf="nameControl.hasError('required')" id="nameHelp" class="form-text text-muted">El nombre es obligatorio.</small>
                                <small *ngIf="nameControl.hasError('maxlength')" class="form-text text-muted">No debe exceder de 191 caracteres.</small>
                            </div>
                            <div class="form-group">
                                <label for="email">Correo electrónico</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
                                <small *ngIf="emailControl.hasError('required')" id="emailHelp" class="form-text text-muted">El correo es obligatorio.</small>
                                <small *ngIf="emailControl.hasError('email')" class="form-text text-muted">Debe ser un correo válido</small>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12">
                            <div class="form-group">
                                <label for="message">Mensaje</label>
                                <textarea type="email" class="form-control" id="message" aria-describedby="messageHelp" cols="3" formControlName="message"></textarea>
                                <small *ngIf="messageControl.hasError('required')" id="messageHelp" class="form-text text-muted">El mensaje es obligatorio</small>
                                <small *ngIf="messageControl.hasError('maxlength')" class="form-text text-muted">No debe exceder de 255 caracteres.</small>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="d-flex justify-content-lg-end justify-content-center">
                    <button class="btn btn-secondary" (click)="submit()" [disabled]="contactForm.invalid || submitting">
                        <span *ngIf="submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Enviar comentarios
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="submitted">
                <div class="d-flex justify-content-center">
                    <img class="contact-us-submitted" src="assets/img/submitted.png" alt="Contact us submitted"><br>
                </div>
                <p class="contact-us-title empty">Gracias por tus comentarios</p>
                <p class="contact-us-message">Don't miss out on our great offers & Receive deals from all our top restaurants via e-mail.</p>
                <br>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-secondary" routerLink="/menu">Conoce nuestro menú</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div class="download-div">
    <img class="download-img" src="assets/img/download-app.png" alt="Download App">
    <div class="download-title-bg"></div>
    <p class="download-title">Obten más beneficios Descarga nuestra App</p>

    <div class="download-steps">
        <div class="download-step download-step-first">
            <p class="step-number"><span>01</span></p>
            <p class="step-title">Solicita rápido</p>
            <p class="step-message">Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar tellus eget magna aliquet ultricies.</p>
        </div>
        <div class="download-step download-step-second">
            <p class="step-number"><span>02</span></p>
            <p class="step-title">Fácil de Usar</p>
            <p class="step-message">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <div class="download-step download-step-third">
            <p class="step-number"><span>03</span></p>
            <p class="step-title">Promociones especiales</p>
            <p class="step-message">Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar tellus eget magna aliquet ultricies.</p>
        </div>

        <img class="d-none d-md-block download-steps-img-left" src="assets/img/download-steps-left.png" alt="Arrow left">
        <img class="d-none d-md-block download-steps-img-right" src="assets/img/download-steps-right.png" alt="Arrow right">
    </div>
</div>

<app-footer></app-footer>
