@import "~src/variables"

.location-div
  width: 100%
  height: max-content
  position: relative
  display: flex
  flex-wrap: wrap
  & .locations-list
    width: 100%
    @include media(lg)
      width: 675px

    & .location-title
      font-family: "Druk Text Wide", sans-serif
      font-weight: bold
      font-size: 40px
      line-height: 40px
      margin-left: 102px
      margin-bottom: 32px
      @include media(md)
        margin-left: 53px
      @include media(xs-sm)
        margin-left: 16px
        margin-bottom: 30px
        width: 70%
        font-size: 35px
        line-height: 35px
    & .location-controls
      width: 100%
      margin-bottom: 15px

      & button
        width: 50%
        text-align: center
        font-family: Syne, sans-serif
        font-size: 25px
        padding: 17px 0
        color: $black
        background-color: $white
        border: 1px solid #C4C4C4
        @include media(xs-sm)
          font-size: 16px
          padding: 15px 0

        & svg path
          fill: currentColor

        &.selected
          color: $white
          background-color: $black

      & .search-box
        width: 100%
        height: 50px
        border: 1px solid #C4C4C4
        box-sizing: border-box
        & .input-group-prepend
          @include media(md-lg)
            margin-left: 10%
          & .input-group-text
            background-color: transparent
            border: none

            & i
              margin-bottom: 3px
        & input
          background-color: transparent
          border: none
          border-radius: 0 8px 8px 0
          width: calc(80% - 42px)
          @include media(xs-sm)
            width: calc(100% - 42px)

          &::placeholder
            font-family: 'Open Sans', sans-serif
            font-size: 16px
            color: $gray-1

    .location-items
      position: relative
      width: 100%
      min-height: 400px

      & .locations-container
        display: flex
        flex-direction: column
        & .location-item
          width: 80%
          margin: 0 auto 5px
          border: 1px solid #000000
          border-radius: 4px
          height: 102px
          padding: 10px 22px
          &:hover
            background-color: #FFF1BF
            border-color: transparent
          @include media(md)
            width: 75%
          @include media(xs-sm)
            width: 95%
            padding: 5px 10px

          & .location-item-title
            font-family: Syne, sans-serif
            font-size: 20px
            margin-bottom: 5px
            @include media(xs-sm)
              font-size: 16px

          & .location-item-text
            font-family: "Open Sans", sans-serif
            font-size: 16px
            margin-bottom: 1px
            @include media(xs-sm)
              font-size: 14px

      & .spinner-border
        color: $yellow

      & .location-not-found-img
        width: 215px
        height: 160px
        align-self: center

      & .location-not-found-title
        font-family: Syne, sans-serif
        font-size: 20px
        line-height: 24px

  & .locations-map
    width: 100%
    height: 610px
    @include media(lg)
      width: calc(100% - 675px)
    @include media(md)
      height: 457px
