@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')

@font-face
  font-family: 'Syne'
  font-style: normal
  font-weight: 700
  src: url('./assets/fonts/Syne/Syne-Bold.otf') format('opentype')

@font-face
  font-family: 'Druk Text Wide'
  font-style: normal
  font-weight: 400
  src: url('./assets/fonts/Druk Text Wide/DrukTextWide-Medium.ttf') format('truetype')
