/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
@import "~bootstrap-icons/font/bootstrap-icons.css"

/* Importing custom fonts */
@import 'fonts'
@import 'variables'

body
  width: 100%
  overflow-x: hidden
  .content
    width: 100%
    overflow-x: hidden

// Override pagination style
ngb-pagination li.page-item

  & a.page-link
    border: 1px solid #C4C4C4
    border-radius: 8px
    font-family: "Open Sans", sans-serif
    font-size: 20px
    color: $black
    margin-left: 10px
    @include media(xs-sm)
      font-size: 16px

    &:hover
      background-color: #FFF1BF
  &.active
    & a.page-link
      color: #FFD600
      background-color: $black
      &:hover
        background-color: $black

// Override buttons style
button.btn-secondary
  background-color: $yellow
  color: $black
  border-radius: 4px
  font-family: "Open Sans", sans-serif
  font-weight: bold
  font-size: 16px
  transition: 0.25s

  &:not(:disabled):hover, &:not(:disabled):active
    background-color: $yellow
    color: $black
    animation: pulse 1s
    box-shadow: 0 0 0 2em rgba(#fff,0)

@keyframes pulse
  0%
    box-shadow: 0 0 0 0 $yellow


// Override form
textarea
  resize: none

.form-group
  & label
    font-family: "Open Sans", sans-serif
    font-size: 12px
    line-height: 17px
    color: $white
    margin-bottom: 0

  & input, & textarea
    background-color: transparent
    color: #595959
    border-color: $white

    &:active, &:focus
      background-color: transparent
      border-color: $yellow
      color: $yellow
      box-shadow: none
