@import '~src/variables'

.footer
  margin-bottom: 50px
  width: 100%

  // Title and app links.
  & .footer-app-links-div
    display: flex
    justify-content: space-between
    width: calc(100% - 264px)
    margin-left: 148px
    @include media(xs-sm)
      flex-direction: column
      justify-content: center
      width: 100%
      margin-left: 0
    @include media(md)
      width: calc(100% - 63px)
      margin-left: 38px

    & .footer-title
      font-family: 'Druk Text Wide', serif
      font-style: normal
      font-weight: bold
      font-size: 27px
      line-height: 27px
      color: $gray-2
      align-self: end
      margin: 0
      @include media(md)
        align-self: center
      @include media(xs-sm)
        align-self: center
        margin-bottom: 20px

    & .app-links
      @include media(xs-sm)
        width: 100%
        text-align: center

      img
        width: 184px
        height: 54px
        margin-left: 10px
        @include media(md)
          width: 133px
          height: 39px
        @include media(xs-sm)
          width: 116px
          height: 34px

  // Divider
  & .divider
    width: calc(100% - 108px)
    margin-left: 51px
    margin-top: 29px
    margin-bottom: 25px
    border: 1px solid $yellow
    @include media(md)
      width: calc(100% - 52px)
      margin-left: 25px
      margin-bottom: 27px
      margin-top: 18px
    @include media(xs-sm)
      width: calc(100% - 32px)
      margin-left: 16px
      margin-bottom: 20px
      margin-top: 20px

    &.hide-on-large
      @include media(lg)
        border-color: $white

  // Bottom links
  & .footer-links-div
    display: flex
    flex-wrap: wrap
    margin-left: 148px
    @include media(md)
      margin-left: 52px
      width: calc(100% - 104px)
    @include media(xs-sm)
      flex-direction: column
      justify-content: center
      width: 100%
      margin-left: 0

    & .footer-link
      margin-right: 44px
      min-width: max-content
      @include media(md)
        width: 33.33%
        margin-right: 0
      @include media(xs-sm)
        width: 100%
        margin-right: 0

      & p
        @include media(xs-sm-md)
          text-align: center
        @include media(md)
          margin-bottom: 15px
        @include media(xs-sm)
          margin-bottom: 18px
        & a
          font-family: Roboto, sans-serif
          font-size: 16px
          color: $gray-1
          width: max-content
          display: inline-block
          height: 20px
          // Override hover
          &:hover
            border: none
            text-decoration: none
          // Link items hover
          &:after
            display: block
            position: relative
            bottom: 10px
            left: -5px
            height: 4px
            background-color: $yellow
            content: ""
            z-index: -1
            transform: scale(0)
          &:hover::after
            transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1)
            transform: scale(1)
            @include media(xs-sm-md)
              bottom: 10px
