<div class="footer">
    <div class="footer-app-links-div">
        <p class="footer-title">Foodies</p>
        <div class="app-links">
            <img src="assets/img/App%20Store.png" alt="App Store">
            <img src="assets/img/Play%20Store.png" alt="Play Store">
        </div>
    </div>

    <div class="divider" [class.hide-on-large]="hideDividerOnLarge"></div>

    <div class="footer-links-div">
        <div class="footer-link">
            <p><a routerLink="/" fragment="locations">Conoce nuestras sucursales</a></p>
        </div>
        <div class="footer-link">
            <p><a routerLink="/" fragment="about">Acerca de</a></p>
        </div>
        <div class="footer-link">
            <p><a routerLink="/" fragment="locations">Conoce nuestras sucursales</a></p>
        </div>
        <div class="footer-link">
            <p><a routerLink="/" fragment="opinions">¿Qué hablan de nosotros?</a></p>
        </div>
        <div class="footer-link">
            <p><a routerLink="/" fragment="contact">Contáctanos</a></p>
        </div>
    </div>
</div>
